<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!--配置Action bean -->
	<!--登录-->
	<bean id="testAction" class="com.ssh.actions.TestAction" scope="prototype">
		<!-- 采用设值配置风格注入属性值 -->
<!-- 		<property name="usersService" > -->
<!--        		<ref bean="usersServiceImpl"/> -->
<!--        	</property> -->
	</bean>
	<bean id="sparkAction" class="com.ssh.actions.SparkAction" scope="prototype">
	</bean>
</beans>